.wrapper {
    position: relative;
    width: 500px;
    height: 335px;
}

.canvas-layer {
    position: absolute;
    left: 0;
    top: 0;
}

#app {
    border-radius: 25px;
    background: #45926b;
    padding: 20px;
    width: 470px;
    height: 450px;
    margin: auto;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

text {
    font-size: large;
    color: whitesmoke;
}

select {
    border-radius: 5px;
    background: #4CAF50;
    width: 40px;
    height: 30px;
}

.select-option {
    color: white;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#my_name {
    padding-left: 12em;
}

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
